.body,html{
    height:100% ; 
    background-color:rgba(138, 224, 219, 1) ;
}
.body{
    margin: 0;
    padding: 0;
    background:rgba(138, 224, 219, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}
.encabezado{
    position: relative;
    background:rgba(93, 193, 185, 1);
    height: 120px;
    width: 100%;
    bottom: 40px;
    border-radius: 20px;
}
.title{
    position: absolute;
    top: 40px;
    left: 60px;
    color: rgba(242, 242, 254, 1);
}

.cuerpo{
    background: rgba(212, 208, 208, 0.93);
    position: relative;
    border-radius: 30px;
    height: 450px;
    width: 800px;
    left: 300px;
}
.cuerpo button[type="contrato"],
.cuerpo button[type="empleados"]{
    border: none;
    background: none;
    display: block;
    margin:20px auto;
    padding: 14px 10px;
    text-align: left;
    outline: none;
    font-weight: bold;
    left: 30px;
    padding: 14px 10px;
    cursor: pointer;
}

.cuerpo button[type="contrato"]:focus,
.cuerpo button[type="empleados"]:focus{
    cursor: pointer;
    border: 2px solid #808080 ;
}
.cuerpo button[type="contrato"]{
    position: absolute;
    left: 40px;
    top: 100px;
}
.cuerpo button[type="administradores"]{
    position: absolute;
    left: 40px;
    top: 200px;
}
.cuerpo button[type="empleados"]{
    position: absolute;
    left: 40px;
    top: 200px;
}

.cuerpo button[type="añadir"],
.cuerpo button[type="eliminar"],
.cuerpo button[type="editar"]{
    width: 100px;
    height: 30px;
    background: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 150px;
    color: black;
    font-weight: bold;
}   
.cuerpo button[type="añadir"]:focus,
.cuerpo button[type="eliminar"]:focus,
.cuerpo button[type="editar"]:focus{
    background: none;
    border: 2px solid #808080 ;
}
.cuerpo button[type="añadir"]{
    position: absolute;
    left: 300px;
    top: 380px;
}
.cuerpo button[type="eliminar"]{
    position: absolute;
    left: 450px;
    top: 380px;
}
.cuerpo button[type="editar"]{
    position: absolute;
    left: 600px;
    top: 380px;
}
.view{
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 250px;
    top: 50px;
    height: 300px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 10px 5px 40px rgb(140, 134, 134);
}
